<div class="row">


    <H1>Hard y soft skill</H1>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/img/perfil_foto.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>


</div>


</div>