.row{

    padding: 20px;
    background-color: rgb(56, 118, 175);

}
.contenedor{
    width: auto;

}

.n1, .n2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px  rgb(0, 0, 0);
}