
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png"  id="app-logo">
        </div>
        <div class="redes">

            <div>
                <a href=""><img src="../../../assets/img/bxl-linkedin.svg" alt="bxl-linkedin"></a>
                <a href=""><img src="../../../assets/img/bxl-facebook.svg" alt="bxl-facebook"></a>
                <a href="https://www.instagram.com/mr.phoenix.x/"><img src="../../../assets/img/bxl-instagram.svg" alt="bxl-instagram"></a>
                <a href="/login"><img src="../../../assets/img/bx-log-in.svg" alt="bx-log-in">                <button type="button" class="btn btn-outline-light">Ingreso</button>
                </a>

                </div>


        </div>


    </div>



</div>

